@import "../../index.css";

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin:auto;
}

.nav-menu{
    margin:auto;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;  
    font-size: 2em;
    color: white;
}
.MenuItem{

}
.MenuItem:hover{
    border-bottom: 1px solid white;
    a{
        color: aqua;
    }

}
.MenuItem a{
    text-decoration: none;
    color: var(--color-text);
}